﻿@page
@using PaperTrader.Domain
@model PaperTrader.Web.Pages.Sessions.CreateSessionModel
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
    var vm;

    function addTag(){
        if(vm.newTagValue() != ""){
            vm.tags.push(vm.newTagValue());
        }
    }

    function removeTag(el){
        vm.tags.remove(el);
    }

    function postNewSession(){
        var toSend = {
            humanReadableName:vm.humanReadableName(),
            sessionType:Number(vm.sessionType()),
            startBase:vm.startBase(),
            tags:vm.tags().map((el)=>{return ko.unwrap(el); })
        }
        $.ajax({
            method:"POST", 
            url:"/api/Session", 
            data:JSON.stringify(toSend), 
            dataType:"json", 
            contentType: "application/json; charset=utf-8"
        }).then((newSession)=>{window.location.replace("/Sessions/SessionDetails?id=" + newSession.id);});
    }

    $(document).ready(()=>{
        vm = {
            newTagValue:ko.observable(""),
            humanReadableName:ko.observable(""),
            sessionType:ko.observable(0),
            startBase:ko.observable(1.0),
            tags:ko.observableArray(),
            postSession:postNewSession
        };
        vm.addTag = addTag;
        vm.removeTag = removeTag;
        ko.applyBindings(vm);
    });

    </script>
}
@{
}
    <table>
        <tr>
            <td>
                Session type
            </td>
            <td>
                <select asp-for="Input.SessionType" data-bind="value:sessionType" asp-items="Html.GetEnumSelectList<SessionType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Input.SessionType" class="text-danger" />
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input asp-for="Input.HumanReadableName" data-bind="textInput:humanReadableName"></input>
                <span asp-validation-for="Input.HumanReadableName" class="text-danger" />
            </td>
        </tr>
        <tr>
            <td>
                Start base
            </td>
            <td>
                <input asp-for="Input.StartBase" data-bind="value:startBase" type="number"></inpuyt>
                <span asp-validation-for="Input.StartBase" class="text-danger" />
            </td>
        </tr>
        <!-- ko foreach:tags -->
        <tr>
            <td>
                <span data-bind="text:$data" />
            </td>
            <td>
                <a href="#" data-bind="click: $root.removeTag">Remove</a>
            </td>
        </tr>
        <!-- /ko -->
        <tr>
            <td>
                <input data-bind="textInput:newTagValue"
            </td>
            <td>
                <button data-bind="click:addTag">Add Tag</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="content-align:center">
                <button data-bind="click:postSession">Submit</button>
            </td>
        </tr>
    </table>