﻿@page
@section Scripts{
    @{await Html.RenderPartialAsync("_DataTablesPartial");}
    <script type="text/javascript">
    var vm = {
        sessions:ko.observableArray([]),
        tags:ko.observableArray(),
    }

    var sessionsToShow = ko.computed(()=>{
        if(vm.tags().filter(x => x.selected()).length == 0){
            var sess = vm.sessions();
            console.log(sess);
            return sess;
        }

        var elts =  vm.sessions().filter((el)=>{
            for(var i = 0; i<el.tags.length; i++){
                var sessionTag = el.tags[i];
                for(var j = 0; j < vm.tags().length; j++){
                    var t = vm.tags()[j];
                    if(t.tag.value == sessionTag && t.selected()){
                        return true;
                    }
                }
            }
            return false;
        });
        console.log(elts);
        return elts;
    });

    $(document).ready(async ()=>{
        var tags = await $.getJSON("/api/Tag");
        var data = await $.getJSON("/api/Session");
        vm.sessionsToShow = sessionsToShow;
        vm.sessions(data);
        vm.tags(tags.map(el => {
            var toReturn = {
                selected:ko.observable(false),
                tag: el
            };
            toReturn.toggleSelected = function(){
                toReturn.selected(!toReturn.selected())
            }
            return toReturn;
        }));

        ko.applyBindings(vm);
    });
    </script>
}
@model PaperTrader.Web.Pages.Sessions.SessionListModel
<a href="/Sessions/CreateSession">Create session</a>
<div data-bind="foreach:tags">
    <div style="float:left">
        <button data-bind="text:tag.value, click:toggleSelected, style:{color:selected()?'green':'grey'}" />
    </div>
</div>

<script type="text/html" id="row-template">
    <td>
        <a data-bind="attr:{href:'/Sessions/SessionDetails?id=' +id}">
            <span data-bind="text:id" />
        </a>
    </td>
    <td>
        <span data-bind="text:humanReadableName" />
    </td>
    <td>
        <span data-bind="text:leverage" />
    </td>
    <td>
        <span data-bind="text:sessionType" />
    </td>
    <td data-bind="css:{color:canAddOrders ? 'green' : 'red'}" >
        <span data-bind="text:canAddOrders" />
    </td>
    <td>
        <span data-bind="text:startBase" />
    </td>
</script>

<table data-bind="dataTable:{ data: sessionsToShow, columns: [ { data: 'id' }, { data: 'humanReadableName' }, { data: 'leverage' }, { data: 'sessionType' }, { data: 'canAddOrders' }, { data: 'startBase' } ], rowTemplate: 'row-template' }" id="sessionsTable">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Leverage
            </td>
            <td>
                Session type
            </td>
            <td>
                Running
            </td>
            <td>
                Start base currency
            </td>
        </tr>
    </thead>
</table>
