﻿@page
@model PaperTrader.Web.Pages.Sessions.SessionDetailsModel
@section Scripts{
    <script type="text/javascript" src="/lib/chartjs/Chart.bundle.js"></script>
    <script type="text/javascript">
        var vm;
        var sessionId = @Model.SessionId;

        function addTag(){
            if(vm.newTagValue() != ""){
                vm.tags.push(vm.newTagValue());
            }
        }

        function removeTag(el){
            vm.tags.remove(el);
        }

        function updateSession(){
            var toSend = {
                id:sessionId,
                humanReadableName:vm.humanReadableName(),
                sessionType:Number(vm.sessionType()),
                startBase:vm.startBase(),
                canAddOrders:vm.canAddOrders(),
                leverage: vm.leverage(),
                tags:vm.tags().map((el)=>ko.unwrap(el))
            }
            $.ajax({
                method:"PUT", 
                url:"/api/Session", 
                data:JSON.stringify(toSend), 
                dataType:"json", 
                contentType: "application/json; charset=utf-8"
            }).then((newSession)=>{window.location.replace("/Sessions/SessionDetails?id=" + newSession.id);});
        }

        function initVm(session){
            vm.humanReadableName(session.humanReadableName);
            vm.sessionType(session.sessionType);
            vm.startBase(session.startBase);
            vm.tags(session.tags);
            vm.leverage(session.leverage);
            vm.canAddOrders(session.canAddOrders);
            initChart();
        }

        function postOrder(){
            var amount = vm.orderAmount();
            var price = vm.orderPrice();
            console.log("buying " + amount +" of coins @@" + price);
            var orderInput = {
                sessionId:sessionId,
                price:price,
                contracts:amount
            };
            $.ajax({
                url:"/api/Order",
                method:"POST",
                data:JSON.stringify(orderInput),
                dataType:"json",
                contentType:"application/json; charset=utf-8"
            }).then((newOrder)=>{
                window.location.reload();
            });
        }

        $(document).ready(async ()=>{
            vm = {
                leverage:ko.observable(),
                newTagValue:ko.observable(""),
                humanReadableName:ko.observable(""),
                sessionType:ko.observable(0),
                canAddOrders:ko.observable(),
                startBase:ko.observable(1),
                tags:ko.observableArray(),
                orderAmount:ko.observable(),
                orderPrice:ko.observable(),
                updateSession:updateSession,
                addTag: addTag,
                removeTag:removeTag,
                sessionId:sessionId,
                addOrder:postOrder
            };
            ko.applyBindings(vm);
            $.getJSON("/api/Session/" + sessionId).then((el) => {initVm(el)});
        });

        function closeSession(){
            if(confirm("are you sure you want to close this session?")){
                console.log("submitting form");
                $("#closeForm").submit();
            }
        };

        async function initChart(){
            var orders = await $.getJSON("/api/Order/GetForSession/@Model.SessionId");
            var points = [];
            var startBase = @Model.Session.StartBase;
            var leverage = vm.leverage() || 1;
            // starts at 1.0
            var base = startBase;
            var contracts = 0;

            if(orders.length == 0){
                return;
            }
            points.push({index:0, contracts:0, price:orders[0].signalPrice, base:base, total:startBase});
            for(var j = 1; j < orders.length + 1; j++){
                // foreach order, remove margin from base, and add contracts
                // we buy x contracts, so we borrow btc with value of contracts/price;
                // the contracts value is increased
                // total value is base + (contracts / price)
                var el = orders[j-1];

                var contractValue = el.contracts / el.signalPrice;
                base += contractValue;
                contracts += el.contracts;
                var total = base - (contracts / el.signalPrice);

                var point = {
                    index:j, 
                    base: base,
                    contracts: contracts,
                    price: el.signalPrice,
                    total:total,
                    invested: ((contracts / el.signalPrice) / leverage) / total
                };
                points.push(point);
                console.log("added point:")
                console.log(point);
            }

            var ctx = document.getElementById("myChart").getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: points.map(x => x.index),
                    datasets: [{
                        label: 'Price',
                        yAxisID: 'A',
                        data: points.map(x => x.price),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },{
                        label: 'Invested %',
                        yAxisID: 'B',
                        data: points.map(x => x.invested),
                        backgroundColor: [
                            'rgba(155, 99, 132, 0.2)',
                            'rgba(154, 162, 235, 0.2)',
                            'rgba(155, 206, 86, 0.2)',
                            'rgba(175, 192, 192, 0.2)',
                            'rgba(53, 102, 255, 0.2)',
                            'rgba(155, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(155,99,132,1)',
                            'rgba(154, 162, 235, 1)',
                            'rgba(155, 206, 86, 1)',
                            'rgba(175, 192, 192, 1)',
                            'rgba(53, 102, 255, 1)',
                            'rgba(155, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },{
                        label: 'Base',
                        yAxisID: 'B',
                        hidden: true,
                        data: points.map(x => x.base),
                        borderWidth: 1
                    },{
                        label: 'Total',
                        yAxisID: 'B',
                        data: points.map(x => x.total),
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            id: 'A',
                            type: 'linear',
                            position: 'left',
                        }, {
                            id: 'B',
                            type: 'linear',
                            position: 'right',
                        }]
                    },
                    elements:{
                        point:{
                            radius:0
                        }
                    }
                }
            });
        }
    </script>
}

<div>

<form id="closeForm" method="post">
    <input type="hidden" name="action" value="close">
    <input asp-for="SessionId" type="hidden" />
</form>

<form method="post">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <h4>Edit session</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <table style="margin-left:auto; margin-right:auto; text-align:center; min-width:400px;">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input data-bind="textInput:humanReadableName" 
                            asp-for="HumanReadableName" />
                </td>
            </tr>
            <tr>
                <td>
                    Finalized
                </td>
                <td>
                    <span data-bind="text:!canAddOrders" />
                </td>
            </tr>
            <tr>
                <td>
                    StartBase
                </td>
                <td>
                    <span data-bind="text:startBase" />
                </td>
            </tr>
            <tr>
                <td>
                    Leverage
                </td>
                <td>
                    <input asp-for="SessionId" type="hidden" />
                    <input type="hidden" name="action" value="edit" />
                    <select data-bind="value:leverage">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button data-bind="click:updateSession">Save</button>
                </td>
                <td>
                    <button  
                        data-bind="()=>{click:$root.canAddOrders(!$root.canAddOrders); $root.updateSession();}"
                        style="color:red"
                        disabled="@(!Model.Session.CanAddOrders)"                    
                        form="closeForm" 
                        onclick="return confirm('Are you sure you want to close this?')" 
                        value="Close session" >Close</button>
                </td>
            </tr>
        </table>
        </div>
        <div class="col-md-6">
            <table>
                <tbody>

            <!-- ko foreach:tags -->
            <tr>
                <td>
                    <span data-bind="text:$data" />
                </td>
                <td>
                    <a href="#" data-bind="click: $root.removeTag">Remove</a>
                </td>
            </tr>
            <!-- /ko -->
            <tr>
                <td>
                    <input data-bind="textInput:newTagValue" />
                </td>
                <td>
                    <button data-bind="click:addTag">Add Tag</button>
                </td>
            </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<hr />

<form method="post">
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12" style="text-align:center">
            <h4>Create order</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Contracts
            <input type="hidden" asp-for="SessionId" value="@Model.SessionId" />
        </div>
        <div class="col-md-6">
            <input asp-for="Order.Contracts" type="number" data-bind="textInput:orderAmount" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Price
        </div>
        <div class="col-md-6">
            <input asp-for="Order.Price" type="number" data-bind="textInput:orderPrice" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button data-bind="click:addOrder">Submit</button>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h4>
            Results
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>